[Desktop Entry]
Encoding=UTF-8
Name=Lien vers  JAVA SCRIPT 
Type=Link
URL=https://github.com/Stephanie974/model/tree/main/JAVA%20SCRIPT
Icon=text-html
