[Desktop Entry]
Encoding=UTF-8
Name=Lien vers FIGMA_Generateur.url
Type=Link
URL=https://cdn.discordapp.com/attachments/927502110118019132/931149038454210600/FIGMA_Generateur.url
Icon=application-octet-stream
