[Desktop Entry]
Encoding=UTF-8
Name=Lien vers  000_example_html/example_html 
Type=Link
URL=https://github.com/Stephanie974/model/tree/main/HTML%20CSS/000_example_html/example_html
Icon=text-html
