[Desktop Entry]
Encoding=UTF-8
Name=Lien vers  html5.html 
Type=Link
URL=https://github.com/Stephanie974/model/blob/main/HTML%20CSS/html5.html
Icon=text-html
