[Desktop Entry]
Encoding=UTF-8
Name=Lien vers  004_example_js/example_js 
Type=Link
URL=https://github.com/Stephanie974/model/tree/main/JAVA%20SCRIPT/004_example_js/example_js
Icon=text-html
