[Desktop Entry]
Encoding=UTF-8
Name=Lien vers  005_exo_js (2)/005_exo_js 
Type=Link
URL=https://github.com/Stephanie974/model/tree/main/JAVA%20SCRIPT/005_exo_js%20(2)/005_exo_js
Icon=text-html
