[Desktop Entry]
Encoding=UTF-8
Name=Lien vers  006_exo_js_0/006_exo_js_1 
Type=Link
URL=https://github.com/Stephanie974/model/tree/main/JAVA%20SCRIPT/006_exo_js_0/006_exo_js_1
Icon=text-html
