[Desktop Entry]
Encoding=UTF-8
Name=Lien vers  007_exo_js_0/007_exo_js_0 
Type=Link
URL=https://github.com/Stephanie974/model/tree/main/JAVA%20SCRIPT/007_exo_js_0/007_exo_js_0
Icon=text-html
