[Desktop Entry]
Encoding=UTF-8
Name=Lien vers  Excercices sur Zinfo974 
Type=Link
URL=https://github.com/Stephanie974/model/tree/main/JAVA%20SCRIPT/Excercices%20sur%20Zinfo974
Icon=text-html
