[Desktop Entry]
Encoding=UTF-8
Name=Lien vers  zinfo 974.html 
Type=Link
URL=https://github.com/Stephanie974/model/blob/main/JAVA%20SCRIPT/zinfo%20974.html
Icon=text-html
